In [38]:
from time import time
import pandas as pd
from sqlalchemy import create_engine
import os

In [40]:
URL_zone_lookup="https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv"
os.system(f"wget {URL_zone_lookup} -O taxi+_zone_lookup.csv")

--2022-10-14 12:14:07--  https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 2600:9000:2334:9c00:b:20a5:b140:21, 2600:9000:2334:7000:b:20a5:b140:21, 2600:9000:2334:6e00:b:20a5:b140:21, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|2600:9000:2334:9c00:b:20a5:b140:21|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [text/csv]
Saving to: 'taxi+_zone_lookup.csv'

     0K .......... ..                                         100% 38.4M=0s

2022-10-14 12:14:07 (38.4 MB/s) - 'taxi+_zone_lookup.csv' saved [12322/12322]

0

In [47]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")
fpath = "taxi+_zone_lookup.csv"
df_zones = pd.read_csv(fpath)
df_zones.to_sql(name="zones", con=engine, if_exists="replace")

265

In [46]:
df_zones

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [8]:
fpath = "yellow_tripdata_2021-01.parquet"
df = pd.read_parquet(fpath)
# df.to_csv("yellow_tripdata_2021-01.parquet.csv", index=False)

In [9]:
len(df)

1369769

In [21]:
asd = df.iloc[1369767:1369780, :]

In [35]:
asd.loc[:, asd.columns.get_loc("tpep_pickup_datetime")] = pd.to_datetime(asd.loc[:,"tpep_pickup_datetime"])

/var/folders/tr/1vssp51x3z7_q9vtw18pfb500000gn/T/ipykernel_49324/1074719342.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  asd.loc[:, asd.columns.get_loc("tpep_pickup_datetime")] = pd.to_datetime(asd.loc[:,"tpep_pickup_datetime"])

In [33]:
asd

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
1369767,6,2021-01-31 23:01:06,2021-02-01 00:02:03,NaN,19.70,NaN,None,265,188,0,53.68,0.00,0.5,0.0,0.0,0.3,54.48,NaN,NaN
1369768,2,2021-01-31 23:08:29,2021-01-31 23:31:22,NaN,4.68,NaN,None,89,61,0,25.45,2.75,0.5,0.0,0.0,0.3,29.00,NaN,NaN

In [38]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [32]:
csv_fpath = "yellow_tripdata_2021-01.csv"
df_iter = pd.read_csv(
    csv_fpath, 
    iterator=True, 
    chunksize=100000
)

In [41]:
for i, df_chunk in enumerate(df_iter):
    t_start = time()
    # fix the date fields from TEXT to a TIMESTAMP type
    df_chunk.tpep_pickup_datetime = pd.to_datetime(df_chunk.tpep_pickup_datetime)
    df_chunk.tpep_dropoff_datetime = pd.to_datetime(df_chunk.tpep_dropoff_datetime)
    if_exists_action = "append" if i!=0 else "replace"
    df_chunk.to_sql(name="yellow_taxi_data", con=engine, if_exists=if_exists_action)
    t_end = time()
    print(f"Inserted another chunk (size: {len(df_chunk)}). It took {round(t_end - t_start, 2)} seconds.")

Inserted another chunk (size: 100000). It took 15.88 seconds.
Inserted another chunk (size: 100000). It took 14.15 seconds.
Inserted another chunk (size: 100000). It took 14.27 seconds.
Inserted another chunk (size: 100000). It took 14.88 seconds.
Inserted another chunk (size: 100000). It took 13.57 seconds.
Inserted another chunk (size: 100000). It took 14.85 seconds.
Inserted another chunk (size: 100000). It took 14.8 seconds.
Inserted another chunk (size: 100000). It took 14.53 seconds.
Inserted another chunk (size: 100000). It took 15.23 seconds.
Inserted another chunk (size: 100000). It took 18.4 seconds.

/var/folders/tr/1vssp51x3z7_q9vtw18pfb500000gn/T/ipykernel_37355/1607249532.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, df_chunk in enumerate(df_iter):

Inserted another chunk (size: 100000). It took 14.02 seconds.
Inserted another chunk (size: 69769). It took 9.59 seconds.

In [6]:
list(range(0,5,2))

[0, 2, 4]

You can check on `pgcli` how the insert goes:
```
SELECT count(1) FROM yellow_taxi_data
```

In [42]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.00,3.00,0.5,0.00,0.00,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.00,0.50,0.5,0.00,0.00,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.00,0.50,0.5,8.65,0.00,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.00,0.50,0.5,6.05,0.00,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.50,0.50,0.5,4.06,0.00,0.3,24.36,2.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1369764,2,2021-01-31 23:03:00,2021-01-31 23:33:00,NaN,8.89,NaN,None,229,181,0,27.78,0.00,0.5,7.46,0.00,0.3,38.54,NaN,NaN
1369765,2,2021-01-31 23:29:00,2021-01-31 23:51:00,NaN,7.43,NaN,None,41,70,0,32.58,0.00,0.5,0.00,6.12,0.3,39.50,NaN,NaN
1369766,2,2021-01-31 23:25:00,2021-01-31 23:38:00,NaN,6.26,NaN,None,74,137,0,16.85,0.00,0.5,3.90,0.00,0.3,24.05,NaN,NaN
1369767,6,2021-01-31 23:01:06,2021-02-01 00:02:03,NaN,19.70,NaN,None,265,188,0,53.68,0.00,0.5,0.00,0.00,0.3,54.48,NaN,NaN
1369768,2,2021-01-31 23:08:29,2021-01-31 23:31:22,NaN,4.68,NaN,None,89,61,0,25.45,2.75,0.5,0.00,0.00,0.3,29.00,NaN,NaN